<div *ngIf="question">

    <!-- One label over * labels (ex: find capital (displayed as a label) over 4 countries ) -->
    <div *ngIf="mode === QuizModeEnum.LABEL_OVER_LABELS">
        <span  
            *ngFor="let proposal of question.proposals"
            (click)="verifySelection(proposal)"
            class="clickable"
        >
            {{proposal.showProposal(mode)}}
        </span>

        <p>{{question.answer.showQuestion(mode)}}</p>
    </div>    

    <!-- One image over * labels (ex: find country (displayed as a flag) over 4 country names) -->
    <div *ngIf="mode === QuizModeEnum.IMAGE_OVER_LABELS">
          
        <span  
            *ngFor="let proposal of question.proposals"
            (click)="verifySelection(proposal)"
            class="clickable"
        >
            {{proposal.showProposal(mode)}}
        </span>

        <img 
            class="flag" 
            src="{{getImagesUrl()}}/{{question.answer.showQuestion(mode)}}" />
    </div>

    <!-- One label over * images (ex: find country (displayed as a label) over 4 country flags) -->
    <div *ngIf="mode === QuizModeEnum.LABEL_OVER_IMAGES">
        <img 
            *ngFor="let proposal of question.proposals"
            class="clickable flag"
            src="{{getImagesUrl()}}/{{proposal.showProposal(mode)}}"
            (click)="verifySelection(proposal)"
        /> 
        
        <p>{{question.answer.showQuestion(mode)}}</p>
    </div>
</div>

<div *ngIf="score">
    Score: {{score.correct}} / {{score.total()}}
</div>